*.[oa]
*.so*
*.obj
*.lib
*.exp
*.dll
*.exe
*.manifest
*.dmp
*.swp
.tags

# CMake generated artefacts
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake_uninstall.cmake
compile_commands.json
install_manifest.txt
luajit-parse-memprof
luajit-parse-sysprof
luajit.pc
